.content-container-first {
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 700px
}

.premier-content-container {
    clear: both;
    margin: 15px auto 0 auto;
    padding: 0;
    width: 700px
}

.premier-accordion-container {
    clear: both;
    margin: 45px auto 0 auto;
    padding: 0;
    width: 700px
}

.premier-inner-content {
    clear: both;
    margin: 0;
    padding: 20px;
    width: 634px
}

.premier-heading {
    clear: both;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 2px;
    width: auto
}

.premier-outer-container {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    clear: both;
    margin: 0;
    padding: 2px;
    width: 694px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px
}

.premier-inner-container {
    background: #fff url(../images/conten_box_gradient.jpg) repeat-x bottom left;
    clear: both;
    height: 100%;
    margin: 0;
    padding: 10px;
    width: 674px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px
}

.premier-btm-shadow {
    background: url(../images/inside_pg/premier_btm_shadow.png) no-repeat top center;
    clear: both;
    height: 7px;
    margin: 0;
    padding: 0;
    width: 700px
}

.premier-content-left table {
    border: none;
    margin: 20px 0 20px 0;
    padding: 0
}

.premier-content-left table th {
    background: #e8e3d9;
    color: #876b2f;
    font-weight: normal;
    padding: 10px;
    text-align: left
}

.premier-content-left table td {
    border-bottom: 1px solid #d1cdc4;
    padding: 10px
}

.premier_sub_title_wrapper {
    border-bottom: 1px solid #fff;
    width: 100%;
    background: #ececec;
    height: 59px
}

.premier_sub_title_bgimg {
    margin: 0 auto;
    padding: 0;
    width: 940px;
    height: 59px;
    background: url(../images/inside_pg/premier_subtitle_vector.jpg) no-repeat top left
}

.premier-header-container {
    background: #fff;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none
}

.premier-header-bg-wrapper {
    clear: both;
    height: 318px;
    margin: 20px 0 0 0;
    padding: 0;
    overflow: hidden;
    width: 100%
}

.premier-header-bg-wrapper img {
    margin-left: -286px!important
}

.premier-subnav-container {
    background: url(../images/inside_pg/premier_subnavi_bg1.jpg) repeat-x top left;
    clear: both;
    height: 45px;
    margin: 0;
    padding: 11px 0 3px 0;
    width: 100%
}

.premier-subnav-wrapper {
    clear: both;
    margin: 0 auto;
    pading: 0;
    width: 940px
}

.premier-subnav-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.premier-subnav-wrapper li {
    background: none;
    display: inline;
    float: left;
    margin: 0;
    padding: 0
}

.premier-subnav-wrapper li a {
    background: #fff url(../images/inside_pg/premier_subnavi_bg2.jpg) no-repeat right top;
    border-bottom: none;
    border-top: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    color: #333;
    display: block;
    font-family: 'TheSansCdRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    text-decoration: none;
    text-shadow: #fff 0 1px 0
}

.premier-subnav-wrapper li a.firstnav {
    border-left: 1px solid #d1d1d1;
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px
}

.premier-subnav-wrapper li a.lastnav {
    border-right: 1px solid #d1d1d1;
    border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px
}

.premier-subnav-wrapper li a:hover {
    border-bottom: none;
    color: #876b2f;
    text-decoration: none
}

.premier-subnav-wrapper li a.selected {
    background: #866d2d url(../images/inside_pg/premier_subnavi_selected.jpg) repeat-x right top;
    border-bottom: none;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none
}

.premier-main-content-wrapper {
    background: #fff url(../images/inside_pg/premier_content_bg.jpg) no-repeat top right;
    clear: both;
    margin: 0 auto;
    padding: 45px 0 0 0;
    width: 940px
}

.premier-content-left {
    display: inline;
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: 700px
}

.premier-content-right {
    clear: right;
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
    width: 220px
}

.premier-sub-content {
    color: #876b2f
}

.premier-2column-wrapper {
    clear: both;
    margin: 0;
    padding: 0 0 24px 0;
    overflow: hidden;
    width: 674px
}

.premier-2column-content {
    background: url(../images/inside_pg/cards_header2_side_shadow.png) no-repeat center right;
    display: inline;
    float: left;
    margin: 0;
    height: 300px;
    padding: 16px 16px 0 16px;
    width: 305px
}

.premier-2column-content.last {
    background: none
}

.premier-promo-container {
    background: url(../images/inside_pg/premier_promo_radial.jpg) no-repeat bottom center;
    clear: both;
    margin: 0;
    padding: 30px 30px 0 30px;
    width: 634px
}

.premier-line-separator {
    background: url(../images/inside_pg/premier_promo_separator.jpg) no-repeat bottom center;
    clear: both;
    display: block;
    height: 1px;
    margin: 30px auto 0 auto;
    padding: 0;
    width: auto
}

.premier-line-separator.last {
    background: none
}

.premier-promo-image {
    display: inline;
    float: left;
    margin: 0 30px 0 0;
    padding: 0;
    width: 223px
}

.premier-promo-image img {
    clear: both;
    display: block;
    margin: 0 auto
}

.premier-promo-content {
    clear: right;
    display: inline;
    float: left;
    margin: 0;
    padding: 0 0 10px 0;
    width: 380px
}

.premier-promo-content h3 {
    display: block;
    float: left;
    font-size: 52px;
    font-weight: normal;
    line-height: 52px;
    margin: 0 5px 0 0;
    padding: 0;
    width: auto
}

.premier-promo-content h4 {
    clear: right;
    display: block;
    float: left;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 15px 0 0 0;
    width: auto
}

.premier-promo-content p {
    clear: both
}

.premier-inner-box {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    clear: both;
    margin: 0 0 10px 0;
    padding: 2px;
    width: 628px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 2px #e0e0e0;
    -moz-box-shadow: 0 2px 2px #e0e0e0;
    -webkit-box-shadow: 0 2px 2px #e0e0e0
}

.premier-inner-box-content {
    background: #fff url(../images/conten_box_gradient.jpg) repeat-x bottom left;
    clear: both;
    height: 100%;
    margin: 0;
    padding: 20px;
    width: 588px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px
}

.premier-inner-box-content2 {
    background: #fff url(../images/conten_box_gradient.jpg) repeat-x bottom left;
    clear: both;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 628px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px
}

.premier-inner-box-pattern {
    background: url(../images/inside_pg/premier_box_pattern.jpg) no-repeat top left;
    clear: both;
    margin: 0;
    padding: 0 0 0 30px;
    width: 558px
}

.premier-inner-box-pattern h4 {
    line-height: 24px;
    margin: 0 0 10px 0
}

.premier-inner-box-pattern2 {
    background: url(../images/inside_pg/expert-bg-zn.png) no-repeat bottom left;
    clear: both;
    margin: 0;
    padding: 20px;
    width: 588px
}

.box-pattern-2column-container {
    clear: both;
    margin: 0;
    padding: 0;
    width: 588px
}

.box-pattern-2column-image {
    border: 1px solid #876b2f;
    display: inline;
    float: left;
    margin: 0 30px 0 0;
    padding: 0;
    width: 156px
}

.box-pattern-2column-image img {
    clear: both;
    display: block;
    margin: 0 auto
}

.box-pattern-2column-content {
    clear: right;
    color: #333;
    display: inline;
    float: left;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 400px
}

.box-pattern-2column-content h4 {
    line-height: 24px;
    margin: 0 0 10px 0
}

.box-pattern-2column-content blockquote {
    background: url(../images/inside_pg/block_quote_open.png) no-repeat top left;
    margin: 0;
    padding: 10px 0 10px 30px
}

.box-pattern-2column-content blockquote span {
    background: url(../images/inside_pg/block_quote_close.png) no-repeat bottom right;
    color: #666;
    display: block
}

.premier-norm-2col-container {
    clear: both;
    margin: 0;
    padding: 0;
    width: 634px
}

.premier-norm-2col-container-content {
    display: inline;
    float: left;
    margin: 0 30px 0 0;
    padding: 0;
    width: 429px
}

.premier-norm-2col-container-image {
    clear: right;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    width: 175px
}

.premier-norm-2col-container-image img {
    clear: both;
    display: block;
    margin: 0 auto
}

.premier-right-box-wrapper {
    background-color: #fff;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    clear: both;
    margin: 0;
    padding: 2px 2px 0 2px;
    width: 212px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px
}

.premier-box-wrapper-top {
    background: #f5f5f5 url(../images/group_home_radial.jpg) no-repeat bottom center;
    clear: both;
    margin: 0;
    padding: 0;
    width: 212px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px
}

.premier-box-wrapper-container {
    background: #f5f5f5 url(../images/group_home_radial.jpg) no-repeat bottom center;
    clear: both;
    margin: 0;
    padding: 19px 16px;
    width: 180px
}

.premier-box-wrapper-bottom {
    background: url(../images/inside_pg/accnt_landing_right_column.jpg) no-repeat top center;
    bottom: 0;
    clear: both;
    display: block;
    height: 206px;
    margin: 0;
    padding: 0;
    width: 218px
}

.end .premier-line-separator {
    background: none
}

.tab-container {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%
}

.tab-wrapper {
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 100%
}

#premier-tab {
    margin: 20px 0 0 0
}

.premier-tab-item {
    clear: left;
    float: left;
    width: 100%;
    margin-top: -10px;
    padding: 0
}

.premier-tab-item-content-box-outer {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    clear: both;
    margin: 0;
    padding: 0 2px 2px 2px;
    width: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px
}

.premier-tab-item-content-box-inner {
    background: url(../images/inside_pg/htw-foot-beneficial-bg.jpg) repeat-x bottom left;
    clear: both;
    margin: 0;
    padding: 25px 15px;
    width: auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px
}

.premier-tab-item-content-box-shadow {
    background: url(../images/inside_pg/htw-foot-beneficial-shadow.png) no-repeat top center;
    clear: both;
    height: 17px;
    margin: 0;
    padding: 0;
    width: 100%
}

#premier-tab .ui-tabs-nav {
    margin: 0;
    display: block;
    height: 60px
}

#premier-tab .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    border-bottom: 0!important;
    padding: 0;
    white-space: nowrap;
    background: none;
    margin: 0 1px 0 0
}

#premier-tab .ui-tabs-nav li#premier-tab-1,
#premier-tab .ui-tabs-nav li#premier-tab-2,
#premier-tab .ui-tabs-nav li#premier-tab-3,
#premier-tab .ui-tabs-nav li#premier-tab-4,
#premier-tab .ui-tabs-nav li#premier-tab-5,
#premier-tab .ui-tabs-nav li#premier-tab-6,
#premier-tab .ui-tabs-nav li#premier-tab-7 {
    background: #fff url(../images/inside_pg/premier-tabbed-bg.jpg) repeat-x bottom left;
    border: 1px solid #d7d7d7;
    height: 59px;
    width: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px
}

#premier-tab .ui-tabs-nav li a {
    border: none;
    color: #212121;
    display: block;
    float: left;
    font-family: 'TheSansSemiLightPlain', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
    height: 60px;
    line-height: 20px;
    letter-spacing: -0.5pt;
    margin: 0;
    padding: 15px 15px 0 15px;
    text-align: left;
    text-decoration: none;
    width: auto
}

#premier-tab .ui-tabs-nav li a.multiline {
    height: 60px;
    line-height: 20px;
    letter-spacing: -0.5pt;
    margin: 0;
    padding: 8px 10px 0 10px;
    text-align: left;
    text-decoration: none;
    width: auto
}

#premier-tab .ui-tabs-nav li#premier-tab-1.ui-tabs-selected,
#premier-tab .ui-tabs-nav li#premier-tab-2.ui-tabs-selected,
#premier-tab .ui-tabs-nav li#premier-tab-3.ui-tabs-selected,
#premier-tab .ui-tabs-nav li#premier-tab-4.ui-tabs-selected,
#premier-tab .ui-tabs-nav li#premier-tab-5.ui-tabs-selected,
#premier-tab .ui-tabs-nav li#premier-tab-6.ui-tabs-selected,
#premier-tab .ui-tabs-nav li#premier-tab-7.ui-tabs-selected {
    background: #fff url(../images/inside_pg/premier-tabbed-active.jpg) repeat-x top left;
    border-top: 1px #d7d7d7 solid;
    border-left: 1px #d7d7d7 solid;
    border-right: 1px #d7d7d7 solid;
    border-bottom: 1px #fff solid;
    height: 60px;
    left: 0;
    line-height: 53px;
    margin: -13px 1px 0 0;
    padding: 13px 0 0 0;
    width: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px
}

#premier-tab .ui-tabs-nav li.ui-tabs-selected a {
    height: 60px;
    line-height: 20px;
    cursor: default;
    font-weight: bold
}

#premier-tab .ui-tabs-nav li.ui-tabs-selected a:hover {
    color: #212121
}

#premier-tab.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
    line-height: 47px;
    height: 47px
}

#premier-tab .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer
}

#premier-tab .ui-tabs-nav li a:hover {
    color: #876b2f
}

#premier-tab .ui-tabs-panel {
    display: block;
    border-width: 0;
    background: none
}

#premier-tab .ui-tabs-hide {
    display: none!important
}

.al-tabcontent-wrapper {
    clear: both;
    margin: 0;
    padding: 20px;
    width: 634px
}

.second-con {
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
    width: 100%
}

.con-bg {
    background: url(../images/inside_pg/pre_sconbg.png) no-repeat bottom left
}

.second-con-img {
    width: 100%;
    margin: 10px 0 0 0
}

.second-con-img img {
    width: 579px
}

.second-con-img img {
    display: block;
    margin: 0 auto
}

.second-con-content {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
    padding: 0
}

.second-con-content .detail {
    width: 143px;
    float: left;
    border: 1px solid #d7d7d7;
    margin: 0 7px;
    overflow: hidden;
    padding: 20px;
    background: #fff url(../images/conten_box_gradient.jpg) repeat-x bottom left;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px
}

.second-con-content-list {
    margin: 10px 0 0 10px;
    padding: 0
}

.second-con-details {
    width: 206px;
    float: left;
    margin: 0 10px 0 0
}

.premier-detail-out-con {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    clear: both;
    margin: 0;
    padding: 2px;
    width: 202px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px
}

.premier-detail-in-con {
    background: #fff url(../images/conten_box_gradient.jpg) repeat-x bottom left;
    clear: both;
    height: 100%;
    margin: 0;
    padding: 10px;
    width: 182px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px
}

.pre-dtail-no {
    width: 100%
}

.pre-detail-header {
    color: #866d2d
}

.accordionButton {
    margin: 0;
    padding: 20px;
    background: #ededed url(../images/inside_pg/accordion_gradientbg.jpg) repeat-x top left
}

#premier-accordion-container {
    border: 1px solid #ccc
}

.accordion-header {
    cursor: pointer;
    margin: 0
}

.active-header {
    background: url(../images/inside_pg/accordion_arrow_on.png);
    background-repeat: no-repeat;
    background-position: right 50%
}

.active-header:hover {
    background: url(../images/inside_pg/accordion_arrow_on.png);
    background-repeat: no-repeat;
    background-position: right 50%
}

.inactive-header {
    background: url(../images/inside_pg/accordion_arrow_off.png);
    background-repeat: no-repeat;
    background-position: right 50%
}

.inactive-header:hover {
    background: url(../images/inside_pg/accordion_arrow_off.png);
    background-repeat: no-repeat;
    background-position: right 50%
}

.accordion-content {
    display: none;
    border-top: 0
}

.second-con-content-list {
    margin: 10px auto;
    padding: 0;
    overflow: hidden
}

.left-list {
    width: 210px;
    float: left;
    display: inline
}

.second-con-content-list ul li {
    background: url(../images/sub_bullet.gif) no-repeat 3px 6px;
    margin: 0 0 5px 0;
    padding: 0 0 0 16px
}

.premier-heading h2 {
    color: #866d2d;
    font-weight: normal;
    line-height: 48px
}

.premier-inner-box.r {
    width: 548px
}

.premier-inner-box-content.r {
    width: 508px
}

.premier-inner-box-pattern.r {
    width: 478px
}